// Colors
$black: #000000;
$sand: #e2ca76;
// Link color
$link-color: $black;
// Sidebar color
$sidebar-color: $sand;
// Font
$body-font-family: Inter, sans-serif;
// Font color
$body-text-color: $black;
// Border color
$border-color: $sand;
