// Colors
$black: #000000;
$palegray: #fdfdfe;
// Link color
$link-color: $black;
// Sidebar color
$sidebar-color: $palegray;
// Font
$body-font-family: Inter, sans-serif;
// Font color
$body-text-color: $black;
// Border color
$border-color: $palegray;
// Background color
$body-background-color: $palegray;
// Search result preview color
$search-result-preview-color: $palegray;
// Search background color
$search-background-color: $palegray;
