// Colors
$black: #000000;
$offwhite: #ffffe4;
// Link color
$link-color: $black;
// Sidebar color
$sidebar-color: $offwhite;
// Font
$body-font-family: Inter, sans-serif;
// Font color
$body-text-color: $black;
// Border color
$border-color: $offwhite;
// Background color
$body-bg: $offwhite
