// Colors
$black: #000000;
// Link color
$link-color: $black;
// Sidebar color
$sidebar-color: $white;
// Font
$body-font-family: Inter, sans-serif;
// Font color
$body-text-color: $black;
// Border color
$border-color: $white;
